<div class="explore">

<div class="icon-bar">
  <a class="active" href=""><i class="fa fa-users"></i></a> 
  <a href=""><i class="fa fa-briefcase"></i></a> 
  <a href=""><i class="fa fa-id-badge"></i></a> 
  
</div>

<div class="filter-wrapper">
<ion-searchbar ></ion-searchbar>

</div>

<ion-card style="width: 349px; height: 148px; border-radius: 25px;">
  <img style="width: 91px; height: 70px;" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
 
  <ion-card-header>
    
    <ion-card-title style=" margin-left: 115px; margin-top: -87px;">Rutuja Raut</ion-card-title>
    <input style=" margin-left: 114px;  margin-top: 5px;" type="range" id="points"  [value]="50" name="points" min="0" max="100">
    

    <ion-card-subtitle style=" margin-left: 115px;">Nagpur, Within 5.7 KM</ion-card-subtitle>
    <ion-card-subtitle style=" margin-left: 266px;  margin-top: -72px;">+ Invite</ion-card-subtitle>
  </ion-card-header>
  <ion-card-title style="margin-left: 15px; margin-top: -25px; ">Coffee | Business | Friendship</ion-card-title>
  <ion-card-content>
    Hi commuunity! I am open to new connections
  </ion-card-content>
</ion-card>


<ion-card style="width: 349px; height: 148px; border-radius: 25px;">
  <img style="width: 91px; height: 70px;" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
 
  <ion-card-header>
    
    <ion-card-title style=" margin-left: 115px; margin-top: -87px;">Nikita Gayner</ion-card-title>
    <input style=" margin-left: 114px;  margin-top: 5px;" type="range" id="points"  [value]="30" name="points" min="0" max="100">
    

    <ion-card-subtitle style=" margin-left: 115px;">Nagpur, Within 6.5 KM</ion-card-subtitle>
    <ion-card-subtitle style=" margin-left: 266px;  margin-top: -72px;">+ Invite</ion-card-subtitle>
  </ion-card-header>
  <ion-card-title style="margin-left: 15px; margin-top: -25px; ">Coffee | Business | Friendship</ion-card-title>
  <ion-card-content>
    Hi commuunity! I am open to new connections
  </ion-card-content>
</ion-card>


<ion-card style="width: 349px; height: 148px; border-radius: 25px;">
  <img style="width: 91px; height: 70px;" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
 
  <ion-card-header>
    
    <ion-card-title style=" margin-left: 115px; margin-top: -87px;">Rishi Sahu</ion-card-title>
    <input style=" margin-left: 114px;  margin-top: 5px;" type="range" id="points"  [value]="10" name="points" min="0" max="100">
    

    <ion-card-subtitle style=" margin-left: 115px;">Nagpur, Within 6.9 KM</ion-card-subtitle>
    <ion-card-subtitle style=" margin-left: 266px;  margin-top: -72px;">+ Invite</ion-card-subtitle>
  </ion-card-header>
  <ion-card-title style="margin-left: 15px; margin-top: -25px; ">Coffee | Business | Friendship</ion-card-title>
  <ion-card-content>
    Hi commuunity! I am open to new connections
  </ion-card-content>
</ion-card>


</div>
