
<div class="refine">
  <h6 style="margin-left: 30px;">Select Your Avaliblity</h6>


  <div class="filter-wrapper">
    <div class="search-wrapper">
  <ion-item style="float: right;">
    <!-- <ion-label>Gender</ion-label> -->
    <ion-select placeholder="Avalable | Hey Let Us Connect"  cancelText="Dismiss">
      <ion-select-option class="text-left"  value="All">Avalable | Hey Let Us Connect </ion-select-option>
      <ion-select-option class="text-left" value="Male">Away | Stay Discreet And Watch</ion-select-option>
      <ion-select-option class="text-left" value="Female">Busy | Do Not Disturb | Will Catch Up Later </ion-select-option>
      <ion-select-option class="text-left" value="Female">SOS | Emergancy! Need Assistance! HELP</ion-select-option>
    </ion-select>
    </ion-item>
    </div>
    </div>

    <h6 style="margin-left: 30px; ">Add Your Status</h6>
    
   
    <ion-item class="box">
      <ion-input  type="text" value="Hi commuunity! I am open to new connections" style=" color: darkgrey;" position="floating"></ion-input>
    </ion-item>

    <div class="km3">
      <p>47/250</p>
      </div>


    <h6 style="margin-left: 30px; ">Select Hyper Local Distance</h6>
<div class="range">
    <ion-range aria-label="Range with pin" [pin]="true" [value]="50" [pinFormatter]="pinFormatter"></ion-range>
</div>

<div class="km">
<p>1 Km</p>
</div>

<div class="km2">
  <p>100 Km</p>
  </div>
  <h6 style="margin-left: 30px; margin-bottom: 30px; ">Select Purpose</h6>


<div class="conntainer">

  <input type="radio" id="Coffe" name="sze" checked="checked">
  <label for="Coffe">Coffe</label> 


  <input type="radio" id="Business" name="siz" >
  <label for="Business">Business</label> 

  <input type="radio" id="Hobbies" name="sze" checked="checked">
  <label for="Hobbies">Hobbies</label> 

  <input type="radio" id="Friendship" name="size" >
  <label for="Friendship">Friendship</label>


</div>

<div class="sec">
<input type="radio" id="Movies" name="size" checked="checked">
<label for="Movies">Movies</label>

<input type="radio" id="Dinning" name="size" >
<label for="Dinning">Dinning</label>

<input type="radio" id="Dating" name="size" checked="checked">
<label for="Dating">Dating</label>

<input type="radio" id="Matrimony" name="size" >
<label for="Matrimony">Matrimony</label>
</div>

<div class="button">
  <button class="button button1">Save & Explore</button>
  </div>

</div>
