<div class="filter-wrapper">
  <div class="search-wrapper">
  
    <ion-item style="float: right;">
      <ion-label>Gender</ion-label>
      <ion-select  name="Gender" placeholder="Select Gender"  cancelText="Dismiss">
        <ion-select-option class="text-left"  value="All">All</ion-select-option>
        <ion-select-option class="text-left" value="Male">Male</ion-select-option>
        <ion-select-option class="text-left" value="Female">Female</ion-select-option>
      </ion-select>
      </ion-item>
      
    </div>
</div>


